<div id="rankedcases" v-cloak>

  <h1>Referral Ranked Cases</h1>

  <div>



    <table>
    <thead>
    <tr>
      <th>Case Id  </th>
      <th>Patient's Name  </th>
      <th>Patient's NRIC</th>
      <th>DOB  </th>
      <th>Allergies  </th>
      <th>Medical Histories  </th>
      <th>Gender  </th>
      <!--<th>GP Name  </th>-->
      <!--<th>GP Clinic  </th>-->
      <!--<th>GP Email  </th>-->
      <!--<th>GP Contact Number  </th>-->
      <!--<th>Temperature  </th>-->
      <!--<th>Systole  </th>-->
      <!--<th>Diastole  </th>-->
      <!--<th>Blood Pressure  </th>-->
      <!--<th>Full Blood Count  </th>-->
      <!--<th>PT/PTT  </th>-->
      <!--<th>UECr </th>-->
      <!--<th>Liver Function Test </th>-->
      <th>System  </th>
      <th>Symptoms  </th>
      <th>Signs  </th>
      <th>Photo  </th>
      <th>PDF  </th>
      <th>Additional Info  </th>
      <th>Consultant Name  </th>
      <th>Consultant Email  </th>
      <th>Consultant Contact Number  </th>
      <th>Appointment Time  </th>
      <th>Total Severity Score  </th>





    </tr>
    </thead>
    <tbody>
    <tr>
      <td>  </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  </div>
  <!--<script type ="text/javascript">-->
    <!--var a = 4;-->
  <!--</script>-->

  <!--<script>-->
    <!--var state = { state };-->
  <!--</script>-->
  <!--<script src ="/view-ranked-cases.js"></script>-->


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
